.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.hideMenu {
  display: none;
}

.map {
  height: 400px;
}

/*.showMenu {
  z-index: 100;
}*/

/*Remember to get rid of this once switching to a 2 column layout*/
#root > div > div > div:nth-child(2) > div.map > div {
  height: 400px !important;
}
